[submodule "github/awesome-pair"]
	path = github/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "github/aweshell"]
	path = github/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "github/insert-translated-name"]
	path = github/insert-translated-name
	url = https://github.com/albin-zhu/insert-translated-name.git
