.DS_Store
.lsp-session-v1
*.dat
auto-save-list
recentf
*~
/settings.el
/smex-items
elpa
/.cache
/transient
.mc-lists.el
bookmarks
eshell/
mini.gif
mini.png
org-clock-save.el
pyim/
third_plugins/
tramp
url/






